<!doctype html>
<html>
	<head>
		<title>Shopping List</title>
		<link rel="stylesheet" href="main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<script type="text/javascript" src="dataService.js"></script>
	</head>
	<body ng-app = "MyApp">
		<h1>Add Item to Grocery List</h1>
		<div ng-controller="ShoppingList">

			<form>
				<input type="text" ng-model="newItem.name" placeholder="Type of food" required>
				<select name="quantity" ng-model = "newItem.quantity" placeholder="Quantity" required>
				  <option value="1">1</option >
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="6">6</option>
				  <option value="7">7</option>
				  <option value="8">8</option>
				  <option value="9">9</option>
				  <option value="10">10</option>
				  <option value="11">11</option>
				  <option value="12">12</option>
				  <option value="13">13</option>
				  <option value="14">14</option>
				  <option value="15">15</option>
				  <option value="16">16</option>
				  <option value="17">17</option>
				  <option value="18">18</option>
				  <option value="19">19</option>
				  <option value="20">20</option>
				</select>
				<button ng-click="addNewItem()">Add Item</button>
				<button ng-click="clearIt()">Clear List</button> 
			</form>

			<h2>Grocery List</h2>
			<ol>
				<li ng-repeat='listItem in items track by $index'>
					<button id="del" ng-click="removeItem($index)">X</button>
					{{listItem.itemName}} : 
					{{listItem.quantity}}
				</li>
			</ol>	
		</div>

	</body>
</html>